{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="form-title h1">
        Admin Login
    </div>
   <div class="myform mt-5">
    <form action="{{url_for('book_list')}}" method="post">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User Name</label>
        <input type="text" class="form-control" name="name" id="exampleInputEmail1" aria-describedby="emailHelp">
        <br>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <br>
        <div class="my-btn d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{{url_for('home')}}" class="btn btn-secondary ms-5 ">back</a>
        </div>
    </form>
   </div>

    <!-- <form action="{{url_for('book_list')}}" method="post">
        <label for="name">User Name</label>
        <input type="text" name="name" id="name">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">

        <input type="submit" value="login">
        <a href="{{url_for('home')}}">back</a>
    </form> -->
{% endblock %}