{% extends 'base.html' %}

{% block title %}
    Edit Book
{% endblock %}

{% block content %}
<div class="form-title h1">
    Edit book
</div>
<div class="myform mt-5">
<form action="{{url_for('edit_book', id=book.id)}}" method="post">
    <div class="mb-3">
    <label for="bookName" class="form-label">Book Name</label>
    <input type="text" class="form-control" name="bookName" id="bookName" value="{{book.name}}">
    </div>
    <br>
    <div class="mb-3">
        <label for="authorName" class="form-label">Author Name</label>
        <input type="text" class="form-control" name="authorName" id="authorName" value="{{book.author}}">
    </div>
    <br>
    <div class="mb-3">
        <label for="total" class="form-label">Total Copies</label>
        <input type="text" class="form-control" name="total" id="total" value="{{book.total}}">
    </div>
    <br>
    <div class="my-btn d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{{url_for('book_list')}}" class="btn btn-secondary ms-5 ">back</a>
    </div>
</form>
</div>



<!-- <form action="{{url_for('edit_book', id=book.id)}}" method="post">
    <label for="bookName">Book Name</label>
    <input type="text" name="bookName" id="bookName" value="{{book.name}}">

    <label for="authorName">Author Name</label>
    <input type="text" name="authorName" id="authorName" value="{{book.author}}">

    <label for="total">Total Copies</label>
    <input type="text" name="total" id="total" value="{{book.total}}">

    <input type="submit" value="Update">
    <a href="{{url_for('book_list')}}">back</a>
</form> -->

{% endblock %}